{% extends 'base.html.twig' %}

{% block body %}
  <span><div id="container">
    <div id="welcome">
      <h1>Public tenders online platform</h1>
      <br/>
      <form action="{{ path('all_tenders') }}">
    <input type="submit" value="Go and create entity"/>
      </form></br><br>
      <a href="/login">Login</a> | <a href="/register">Register</a>
    </div>
  </div>
    </span>
{% endblock %}

