{% extends 'base.html.twig' %}

{% block body %}
  <span><div id="container">
    <div id="welcome">
      <h1>This my new E-SHOP project</h1>
      <br/>
      <a href="{{ path('create') }}">Create</a>

    </div>

  </div>
    </span>
{% endblock %}


