body {
  background: #ffffff;
  font: 18px/1.5 sans-serif;
}


.shy-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background: #F5F5F5;
  border-bottom: solid #CCCCCC 1px;
  line-height: 50px;
}

#header-bar-left {
  display: inline;
}

#header-bar-right {
  display: inline;
}

.is-watching {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

input {
  width: 50%;
  padding: 10px 18px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button], input[type=submit], .btn-primary, .btn-secondary {
  width: fit-content;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover, input[type=button]:hover, .btn-primary:hover, .btn-secondary:hover {
  background-color: #45a049;
}

h1, h2 {
  line-height: 1.2;
  margin: 0 0 .5em;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 21px;
  margin-bottom: 1em;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #0000F0;
}

a:hover {
  text-decoration: none;
}

table {
  text-align: center;
  border-spacing: 0.1mm;
  border: 0;
  appearance: auto;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 15px;
  text-align: left;
}

th {
  background: #6c6159;
  color: #aacd4e;
}

tr:nth-child(even) {
  background-color: #dfdfdf;
}

code {
  background: #F5F5F5;
  max-width: 100px;
  padding: 2px 6px;
  word-wrap: break-word;
}

#wrapper {
  background: #FFF;
  margin: 1em auto;
  max-width: 800px;
  width: 95%;
}

#welcome, #status {
  margin-bottom: 2em;
}

#welcome h1 span {
  display: block;
  font-size: 75%;
}

#icon-status, #icon-book {
  float: left;
  height: 64px;
  margin-right: 1em;
  margin-top: -4px;
  width: 64px;
}

#icon-book {
  display: none;
}

@media (min-width: 768px) {
  #wrapper {
    width: 80%;
    margin: 2em auto;
  }

  #container {
    background: #F5F5F5;
    height: auto;
    max-width: 100%;
    text-align: center;
    padding: 3em;
    border-style: solid;
    border-radius: 50px;
    border-color: #CCCCCC;
    border-width: 1px;
    margin-top: 60px;
  }

  #container_add_new_tender {
    background: #F5F5F5;
    height: fit-content;
    max-width: 100%;
    text-align: justify;
    padding: 2em;
    border-style: solid;
    border-radius: 50px;
    border-color: #CCCCCC;
    border-width: 1px;
    margin-top: 60px;
  }

  #icon-book {
    display: inline-block;
  }

  #status a, #next a {
    display: block;
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .sf-toolbar {
    opacity: 0;
    -webkit-animation: fade-in 1s .2s forwards;
    animation: fade-in 1s .2s forwards;
  }
}

.modal-open {
  overflow: hidden
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px)
}



.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden
}

.modal-dialog-scrollable .modal-footer, .modal-dialog-scrollable .modal-header {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem)
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0
}

.modal-backdrop.show {
  opacity: .5
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem)
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem)
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem)
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem)
  }

  .modal-sm {
    max-width: 300px
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 800px
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px
  }
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5
}

.close:hover {
  color: #000;
  text-decoration: none
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  opacity: .75
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}
