<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}First Project!{% endblock %}</title>
</head>

<body>
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('stylesheet.css') }}"
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>

</html>
