<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}ESHOP Project!{% endblock %}</title>
</head>

<body>
{% block stylesheets %}
  <style>
    body {
      background: #ffffff;
      font: 18px/1.5 sans-serif;
    }

    #container {
      background: #F5F5F5;
      height: auto;
      max-width: 100%;
      text-align: center;
      padding: 3em;
      border-style: solid;
      border-radius: 50px;
      border-color: #CCCCCC;
      border-width: 1px;
    }

    h1, h2 {
      line-height: 1.2;
      margin: 0 0 .5em;
      text-align: center;
    }

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 21px;
      margin-bottom: 1em;
    }

    p {
      margin: 0 0 1em 0;
    }

    a {
      color: #0000F0;
    }

    a:hover {
      text-decoration: none;
    }

    table {
      text-align: center;
      border-spacing: 0.1mm;
      border: 0;
      appearance: auto;
      margin-left: auto;
      margin-right: auto;
    }

    td {
      padding: 15px;
      text-align: left;
    }

    th {
      background: #6c6159;
      color: #aacd4e;
    }

    tr:nth-child(even) {
      background-color: #dfdfdf;
    }

    code {
      background: #F5F5F5;
      max-width: 100px;
      padding: 2px 6px;
      word-wrap: break-word;
    }

    #wrapper {
      background: #FFF;
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
    }

    #welcome, #status {
      margin-bottom: 2em;
    }

    #welcome h1 span {
      display: block;
      font-size: 75%;
    }

    #icon-status, #icon-book {
      float: left;
      height: 64px;
      margin-right: 1em;
      margin-top: -4px;
      width: 64px;
    }

    #icon-book {
      display: none;
    }

    @media (min-width: 768px) {
      #wrapper {
        width: 80%;
        margin: 2em auto;
      }

      #icon-book {
        display: inline-block;
      }

      #status a, #next a {
        display: block;
      }

      @-webkit-keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .sf-toolbar {
        opacity: 0;
        -webkit-animation: fade-in 1s .2s forwards;
        animation: fade-in 1s .2s forwards;
      }
    }

  </style>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>

</html>
