{% extends 'base.html.twig' %}

{% block body %}
  <span>
<div id="container">
<h2>User registration</h2>
<form method="post" name="secure_register" action="{{ path('user_register')}}">
  Create User Name: <input type="text" name="app_bundle_user_type[username]"><br>
  Email: <input type="email" name="app_bundle_user_type[email]"><br>
  Password: <input type="password" name="app_bundle_user_type[password]"><br>
  Confirm password: <input type="password" name="app_bundle_user_type[password]"><br>
  <input type="hidden" name="{{ csrf_token('secure_register') }}">
  <input type="submit" value="Register user"> or
  <input type="button" onclick="history.back()" value="Go back">
</form>
</div>
  </span>
{% endblock %}
