{% extends 'base.html.twig' %}

{% block body %}
  <div id="container">
    <h1>Welcome!</h1>
    <h3>Tender and Conference Scheduler Platform</h3>
    {% if app.user %}
    {% else %}
      <h2>Login</h2>
      <form method="post" name="authenticate" action="{{ path('security_login') }}">
        <div id="login-container">
          <input type="text" placeholder="Type your email here!" name="_username"><br>
          <input type="password" placeholder="Type your password!" name="_password"><br>
        </div>
        <br>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">
        <input type="submit" value="Login">
      </form><br>
    {% endif %}
  </div>

{% endblock %}
